[submodule "/home/dai/.vim/bundle/nerdcommenter"]
	path = /home/dai/.vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "/home/dai/.vim/bundle/nerdtree"]
	path = /home/dai/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "/home/dai/.vim/bundle/tabular"]
	path = /home/dai/.vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "/home/dai/.vim/bundle/vimproc.vim"]
	path = /home/dai/.vim/bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/bundle/vim-addon-mw-utils"]
	path = .vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule ".vim/bundle/vim-snipmate"]
	path = .vim/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule ".vim/bundle/tlib_vim"]
	path = .vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
